.servicesleft--wrapper{
    height: min(65vh);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.servicesleft--stripe{
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: rgb(238, 238, 238);
}

.servicesleft--container {
    position: relative;
    width: min(80%, 1920px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesleft--content{
    position: relative;
    height: 80%;
    width: 50%;
    margin-right: 30px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    gap: 20px;
}

.servicesleft--content h1{
    font-family: 'SAFont';
    font-size: 2.5rem;
    margin: 0px;
}

.servicesleft--content p{
    margin: 0px;
    font-size: 1.125rem;
    line-height: 1.3;
}

.servicesleft--break{
    height: 3px;
    width: 100%;
    background-color: #FF7B00;
    margin: 0px;
}

.servicesleft--content button{
    font-family: 'SAFont';
    font-size: 30px;
    width: 100%;
    color: white;
    background-color: #FF7B00;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    border: none;
    cursor: pointer;
    margin: 0px;
}

.servicesleft--img{
    position: relative;
    height: 100%;
    width: 50%;
    border-radius: 15px;
    margin-left: 30px;
    box-shadow: 0 2px 3px 0 rgb(60 64 67 / 25%), 0 2px 6px 5px rgb(60 64 67 / 15%);
}

.servicesleft--img img{
    position: relative;
    place-content: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;

}

.servicesleftmobile--container{
    display: none;
}

@media (max-width: 1024px){

    .servicesleft--stripe{
        display: none;
    }
    .servicesleft--container{
        display: none;
    }

    .servicesleft--wrapper{
        height: auto;
        width: 100%;
        position: relative;
    }

    .servicesleftmobile--container {
        position: relative;
        width: min(90%, 1700px);
        display: flex;
        margin: 0;
    }

    .servicesleft--img{
        position: relative;
        height: 450px;
        width: 100%;
        border-radius: 15px;
        margin-left: 0px;
    }

    .services--content{
        position: relative;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 20px;
    }
    .services--content h1{
        align-self: start;
        font-family: 'SAFont';
        font-size: 2.25rem;
        margin: 0px;
    }

    .services--content p{
        margin: 0px;
        font-size: 1.125rem;
        line-height: 1.3;
    }

}

@media (max-width: 580px){
    .servicesleft--img{
        height: 400px;
    }
}

@media (max-width: 390px){
    .servicesleft--img{
        height: 250px;
    }
}