*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: block;
    background-color: rgb(238, 238, 238);
    margin: 0px auto 0px;
    width: min(80%, 1920px);
    border-radius: 15px;
    height: min(90vh, 90%, 1200px);
    box-shadow: 0 2px 3px 0 rgb(60 64 67 / 25%), 0 2px 6px 5px rgb(60 64 67 / 15%);

}

.form--wrapper {
    position: relative;
    height: 100%;
    
}

.container form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.container label{
    display: block;
    letter-spacing: 0.1rem;
    margin-bottom: 3px;
}

:placeholder-shown {
    font-size: 1.125rem;
}

::placeholder {
    font-family:'Poppins', sans-serif;
    color: #000;
    font-size: 1.125rem;
}

.container input,
.container textarea{
    font-family:'Poppins', sans-serif;
    font-size: 1.125rem;
    color: #000;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border: solid lightgray;
    border-width: 0 0px 2px 0;
    resize: none;
}

.container input:focus,
.container textarea:focus{
    background-color: rgb(247, 247, 247);
    border: solid lightgray;
    border-width: 0 0px 2px 0; 
    outline: none;
}

.singleItem span{
    color: red;
    display: none;
    margin-left: 10px;
    font-size: 1.125rem;
}

input:invalid[focused="true"] ~ span {
    display: block;
    font-size: 18px;
}

input:invalid[focused="true"]{
    border: 1px solid red;
    outline: 5px solid rgba(255, 128, 128, 0.294);
}

.radio--alert{
    color: red;
    display: none;
    margin-left: 10px;
    font-size: 1.125rem;
    margin-top: 20px;
}

.singleItem {
    margin: 20px auto;
}

.btn{
    width: 100%;
    text-align: center;
}

.btn button{
    font-family: 'SAFont';
    font-size: 30px;
    background-color: #FF7B00;
    color: white;
    width: 25%;
    padding: 15px 5px 15px 5px;
    border: none;
    border-radius: 15px;
    outline: none;
    position: relative;
    cursor: pointer;
    margin: 40px auto 20px;
}

.msg{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
    width: 340px;
    padding: 3px;
    font-size: 1.125rem;
    font-weight: bold;
    color: rgb(5,110,5);
    background-color: aliceblue;
    border-radius: 5px;
    display: none;
}

.msgAppear{
    display: block;
}

.selections {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.selections label {
    margin: 0px 20px 0px 10px;
    font-size: 1.125rem;
}
.container h3{
    margin: 30px auto 40px;
}
.container .selections input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    margin: 0;
    box-shadow: none;
    text-align: center;
    border: 2px solid lightgray;
    background-color: lightgray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    transition: 0.2s all linear;
    
}

.container .selections input:checked {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    outline: 7px solid #FF7B00;
    outline-offset: -7px;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%; */
}

.container .selections input:not(:checked) {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    outline: 7px solid lightgray;
    outline-offset: -7px;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%; */
}

.modal--form {
    margin: 0 auto;
    width: 80%;
    height: 600px;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal--form h1{
    font-size: 2.25rem;
    font-family: 'SAFont';
    width: 80%;
    text-align: center;
}

.modal--form p{
    margin-top: 20px;
    font-size: 1.125rem;
    text-align: center;
    width: 80%;
}

.overlaymodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    display: flex;
    align-items: center;
    z-index: 5;
  }
  
  .overlaymodal>span {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: #ffffff;
      z-index: 4;
      cursor: pointer;
    }
    
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .btn button {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .btn button {
        margin-top: 40px;
    }

    .selections {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: -40px;
    }

    .selections label {
        position: relative;
        left: 20px;
        bottom: 21px;
    }
    
    .container .selections input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -khtml-border-radius: 50%;
    }

    .container .selections input:not(:checked) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -khtml-border-radius: 50%;
    }

    .container .selections input:not(:checked) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 7px solid lightgray;
        outline-offset: -7px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -khtml-border-radius: 50%;
    }

}