.hero--wrapper {
    height: min(80vh);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skewed--filter {
    position: relative;
    width: 70%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    background: rgba(75, 75, 75, 0.5);
    border-radius: 15px 0px 0px 15px;
}

.hero--container {
    position: relative;
    width: min(80%, 1920px);
    height: 100%;
    border-radius: 15px;
    background-image: url("https://amg-info-space.nyc3.cdn.digitaloceanspaces.com/saconst%2FIMG_2360.JPG");
    background-repeat: no-repeat;
    background-position: left 25%;
    background-size: fill;
    box-shadow: 0 2px 3px 0 rgb(60 64 67 / 25%), 0 2px 6px 5px rgb(60 64 67 / 15%);

}

.hero--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
}

.button--container {
    width: 50%;
}

.hero--content h1 {
    color: white;
    font-size: clamp(2rem, 1.6428571428571428rem + 1.7857142857142856vw, 4.5rem);
    text-shadow: 3px 2px 3px rgba(77, 77, 77, 0.7);
    margin: -40px 0px 0px 0px;
    line-height: 1.5;
    width: min(100%, 850px);
}

.hero--content p {
    color: white;
    font-size: clamp(1.5rem, 1.4285714285714286rem + 0.35714285714285715vw, 2rem);
    text-shadow: 3px 2px 3px rgba(77, 77, 77, 0.7);
    margin: 0px;
    line-height: 1.3;
}

.hero--content button {
    font-family: 'SAFont';
    font-size: 30px;
    width: 100%;
    color: white;
    background-color: #FF7B00;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}


@media (max-width: 1200px) {

    .hero--container {
        background-position: left;
        background-size: cover;
    }
}


@media (max-width: 1024px) {

    .hero--wrapper {
        height: 600px;
    }

    .hero--content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        gap: 10%;
    }

    .hero--content h1 {
        margin-top: -10px;
    }

    .hero--container{
        width: 90%;
    }

    .button--container {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .hero--wrapper {
        height: 500px;
    }

    .button--container {
        width: 100%;
    }
}

