.aboutus--wrapper{
    height: min(65vh);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.aboutus--stripe{
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: rgb(238, 238, 238);
}

.aboutus--container {
    position: relative;
    width: min(80%, 1920px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus--content{
    position: relative;
    height: 80%;
    width: 50%;
    margin-right: 30px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    gap: 20px;
}

.aboutus--content h1{
    font-family: 'SAFont';
    font-size: 2.25rem;
    margin: 0px;
}

.aboutus--content p{
    font-size: 1.125rem;
    margin: 0px;
    line-height: 1.3;
}

.aboutus--break{
    height: 3px;
    width: 100%;
    background-color: #FF7B00;
    margin: 0px;
}

.aboutus--content button{
    font-family: 'SAFont';
    font-size: 30px;
    width: 100%;
    color: white;
    background-color: #FF7B00;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    border: none;
    cursor: pointer;
    margin: 0px;
}

.aboutus--img{
    position: relative;
    height: 100%;
    width: 50%;
    background-image: url("https://amg-info-space.nyc3.cdn.digitaloceanspaces.com/saconst%2FIMG_2372.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin-left: 30px;
    box-shadow: 0 2px 3px 0 rgb(60 64 67 / 25%), 0 2px 6px 5px rgb(60 64 67 / 15%);

}

.aboutus--mobile {
    display: none;
}

@media (max-width: 1024px) {
    .aboutus--stripe{
        display: none;
    }
    .aboutus--container{
        display: none;
    }

    .aboutus--wrapper{
        height: auto;
        width: 100%;
        position: relative;
        display: flex;
    }

    .aboutus--mobile {
        position: relative;
        width: min(90%, 1700px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .aboutus--img{
        position: relative;
        height: 450px;
        width: 100%;
        background-image: url("https://amg-info-space.nyc3.cdn.digitaloceanspaces.com/saconst%2FIMG_2372.JPG");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        margin-left: 0px;
        
    }
    .aboutus--content{
        position: relative;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        text-align: left;
        gap: 20px;
    }
    .aboutus--content h1{
        align-self: start;
        font-family: 'SAFont';
        margin: 0px;
    }
}

@media (max-width: 580px){
    .aboutus--img{
        height: 400px;
    }
}

@media (max-width: 390px){
    .aboutus--img{
        height: 250px;
    }
}