.carousel--container {
  width: 100vw;
}

.mySwiper .swiper-wrapper{
  height: max(66vh);}
    
.mySwiper .swiper-slide {
  background-position: center;
  width: min(1200px, 90%);
  border-radius: 15px;
  height: max(65vh);
  box-shadow: 0 2px 3px 0 rgb(60 64 67 / 25%), 0 2px 6px 5px rgb(60 64 67 / 15%);

}

.mySwiper .swiper-slide img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  height: 100%;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  border-radius: 15px;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  border-radius: 15px;
}

.mySwiper2 .swiper-wrapper {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  /* border: #FF7B00 solid 1px; */
  gap: 2rem;
}

.mySwiper2 {
  padding-top: 20px;
  padding-bottom: 20px;
  /* width: min(90%, 600px); */
  /* border: palegoldenrod solid 1px; */
  
}


.mySwiper2 .swiper-slide {
  display: flex;
  justify-content: center;
  opacity: 0.4;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
  /* border: salmon 1px solid; */
  width: min(12.5%, 300px);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 20%), 0 2px 6px 2px rgb(60 64 67 / 10%);

}

.mySwiper2 .swiper-slide img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  /* border: indigo 1px solid; */
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 .swiper-slide-thumb-active:after {
  content: " ";
  background: #FF7B00;
  height: 5px;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  margin-bottom: -15px;
}

.swiper-button-next {
  background-image: url(/public/images/buttonright.png);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  right: 5%;
  /* filter: brightness(0) invert(1); */
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/public/images/buttonleft.png);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  left: 5%;
}

.swiper-button-prev::after {
  display: none;
}

:root {
  --swiper-navigation-size: 100px;
}

.gallery--title {
  display: none;
}

.gallerybutton--container {
  display: none;
}

@media (max-width: 1416px) {
  
  .mySwiper .swiper-button-next{
    filter: brightness(0) invert(1);
  }
  .mySwiper .swiper-button-prev {
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 1024px) {
  .gallery--title{
    position: relative;
    /* height: 80%; */
    width: 90%;
    /* margin-right: 30px; */
    /* margin-left: 0px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* text-align: right; */
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .gallery--title h1{
    font-family: 'SAFont';
    font-size: 2.25rem;
    margin: 0px;
  }
  .gallery--break{
  height: 3px;
  width: 100%;
  background-color: #FF7B00;
  margin: 0px;
  }

  .gallerybutton--container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
  }

  .gallerybutton--container button {
    font-family: 'SAFont';
    font-size: 30px;
    width: 90%;
    color: white;
    background-color: #FF7B00;
    border-radius: 15px;
    padding: 15px 5px 15px 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 15px;
  }

  .mySwiper2{
    display: none;
  }
}



@media (max-width: 580px){
  .mySwiper .swiper-wrapper{
    height: 410px;
  }

  .mySwiper .swiper-slide{
      height: 400px;
  }
}

@media (max-width: 390px){
  .mySwiper .swiper-wrapper{
    height: 350px;
  }

  .mySwiper .swiper-slide{
      height: 340px;
  }
}