.carousel--container {
  width: 100vw;
}

.aboutusslider {
  width: 100%;
  padding-top: 0px;
  height: 410px;
}

.aboutusslider .swiper-slide {
  background-position: center;
  border-radius: 15px;
  width: 20%;
  height: 400px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 20%), 0 2px 6px 2px rgb(60 64 67 / 10%);

}

.aboutusslider .swiper-slide:nth-child(n) {
  background-color: rgb(238, 238, 238);
}


.aboutcards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.aboutcards h3 {
  font-size: 1.5rem;
}

.aboutcards p {
  width: 100%;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  font-size: 1.125rem;
  line-height: 1.3;

}

.aboutusslider .aboutcards img {
  display: block;
  width: 30%;
  object-fit: contain;
  text-align: left;
}

.aboutusslider button {
  color: black;
  position: absolute;
  border: none;
  bottom: 20px;
  font-size: 16px;
  background-image: linear-gradient(90deg, #FF7B00, #FF7B00);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.aboutusslider button:hover {
  background-size: 100% 3px;
  color: #FF7B00;
  text-decoration: none;
  cursor: pointer;
}

.aboutusslider button:focus {
  color: #FF7B00;
  background-size: 100% 3px;
  background-image: linear-gradient(#FF7B00, #FF7B00);
}

.aboutusslider button:hover {
  position: absolute;
  border: none;
  bottom: 20px;
  font-size: 16px;
}

.aboutusslider2 {
  width: 100%;
  padding-top: 0px;
  height: 80vh;
  z-index: 12;
}

.aboutusslider2 .swiper-slide {
  background-position: center;
  border-radius: 15px;
  width: 90%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutusslider2 .swiper-slide h3{
  text-align: center;
  font-size: 2rem;
  user-select: none;
}

.aboutusslider2 .swiper-slide p{
  text-align: center;
  width: 70%;
  font-size: 1.5rem;
  -webkit-line-clamp: none;
  display: block;
  user-select: none;
}

.aboutusslider2 .swiper-slide:nth-child(n) {
  background-color: rgb(238, 238, 238);
}

.aboutusslider2 .aboutcards img {
  display: block;
  width: 150px;
  object-fit: contain;
  text-align: left;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 8;
}

.overlay>span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 7;
  cursor: pointer;
}

.overlays {
  position: fixed;
    background: rgba(27, 27, 27, 0.541);

  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

@media (max-width: 1440px){
  .aboutusslider .swiper-slide {
    width: 40%;
  }

  .aboutusslider2 .swiper-slide h3{
    text-align: center;
  }
  
  .aboutusslider2 .swiper-slide p{
    overflow-y: auto;
  }

  .aboutusslider2 .aboutcards img {
    display: block;
    object-fit: contain;
    text-align: left;
    user-select: none;
  }
  
  .aboutusslider2 .aboutcards {
    gap: 10px;
  }

  
}

@media (max-width: 768px){

  .aboutusslider2 .aboutcards img {
    display: block;
    width: 80px;
    object-fit: contain;
    text-align: left;
    user-select: none;
  }

  .aboutusslider .swiper-slide {
    width: 70%;
  }

  .aboutusslider2 .swiper-slide h3{
    text-align: center;
    font-size: 1.5rem;
  }
  
  .aboutusslider2 .swiper-slide p{
    width: 90%;
    overflow-y: auto;

     font-size: 1.125rem;
  }
  
  .aboutusslider2 {
    height: 60vh;
  }
  
}

@media (max-width: 390px){
  .aboutusslider .swiper-slide {
    width: 90%;
  }
  
  .aboutusslider2 .swiper-button-prev{
    left: 1%;
  }
  
  .aboutusslider2 .swiper-button-next{
    right: 1%;
  }
}

